/* ================
 test spacing

#content-wrapper {
  background: coral;
}

.container {
  background: lightcyan;
}

.universal-wrapper {
  background: lightblue;
}

.article-container {
  background: lightgoldenrodyellow;
}

.home-section {
  background: lightyellow;
}

.page-title {
  background: red;
}

================ */

/* ================
keep footer at bottom of page
https://stackoverflow.com/a/20352949
================ */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 4em;
  position: relative;
}

footer {
  bottom: 0;
  height: 4em;
  position: absolute;
  width: 100%;
}

/* ================
 layout
================ */

#content-wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.article-container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.universal-wrapper {
  width: 100%;
  padding: 0 15px;
}

/* ================
 general
================ */

nav#navbar-main li.nav-item {
  font-size: 1rem;
}

.widget_page-body {
  .home-section {
    background: #fff;
  }
}

h3 {
  font-weight: 400;
}

hr {
  margin: 1.5em 0;
  padding: 0;
  background: #ddd;
  background-image: none;
}

h3.article-title {
  font-size: 1.25rem;
}

.page-title {
  margin-top: 0px;
}

.big-icon {
  font-size: 1.25rem;
}

footer {
  background: #3d74a9;
  color: #fff;
  margin: 0;
  padding: 1em 0;

  a {
    color: #fff;
  }
  a:hover {
    color: #f2b845;
  }
  p {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}

/* ================
 cards
================ */
.project-card {
  &.project-item {
    margin: 10px;
  }
}

.card .card-text p {
  font-size: 1em;
}

/* ================
 home page
================ */

.home-body {
  #content-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  h1 {
    margin-top: 0;
    font-size: 2.25rem;
  }
}

.home-section {
  padding: 3rem 0;
}

.banner-image {
  min-height: 15em;
  position: relative;
  text-align: center;

  .hero-title {
    position: absolute;
    bottom: 1em;
    font-size: 1.5rem;
  }
}

.hero-lead {
  font-size: 1em;
}

#about_lab {
  img {
    display: inline;
  }
}

/* ================
 people
================ */

.person-heading {
  h1,
  h2,
  h3 {
    margin: 0;
  }

  margin-bottom: 1em;
}

.people-widget {
  font-size: 1rem;
}

ul.ul-interests li {
  font-size: 1rem;
}

ul.ul-edu li .description {
  p.institution {
    font-size: 1rem;
  }

  p.course {
    font-size: 1rem;
  }
}

/* ================
 news
================ */

.article-title {
  margin-top: 0;
}

@media (max-width: 768px) {
  .article-title {
    margin-top: 1rem;
  }

  .project-compact .article-style {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
}

h1 {
  margin-top: 50px;
}
